.header-container{
    display: flex;
    height: 36px;
    padding: 8px 32px 8px 16px;
    background: #222
}
.logo{
    animation: infinite;
    animation-name: spin;
    background: #ff7f7f;
    height: 35px;
    animation-duration:8s;
    animation-timing-function: linear;
}
@keyframes spin {
    from  {
        transform: rotateY(0deg);
    }
    to  {
        transform: rotateY(360deg);
    }
}

.buttons-container{
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto; 
    margin-right: 0;
}
.button{
    margin-top: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: auto;
}
